@model IEnumerable<DA_QLNhanSu.Models.TblThueThuNhapCaNhan>

@{
    ViewData["Title"] = "Thuế Thu Nhập Cá Nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh Sách Thuê Thu Nhập Cá Nhân</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item">Bảng Thuế</li>
    </ol>
</div>

<!-- Row -->
<div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bảng Thuế</h6>
                <a asp-action="Create" class="btn btn-success">Thêm mới</a>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>Cơ quan quản lý thuế</th>
                            <th>Số tiền</th>
                            <th>Lương</th>
                            <th>Ghi chú</th>
                            <th>Ngày đăng ký</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cơ quan quản lý thuế</th>
                            <th>Số tiền</th>
                            <th>Lương</th>
                            <th>Ghi chú</th>
                            <th>Ngày đăng ký</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CoQuanQuanLyThue</td>
                                <td>@item.SoTien</td>
                                <td>@item.MaLuongNavigation.LuongCoBan</td>
                                <td>@item.GhiChu</td>
                                <td>@item.NgayDangKi</td>
                                <td>
                                    @*<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.MaThue">Sửa</a> |*@
                                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.MaThue">Xem</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>